[Desktop Entry]
Name=GXCapIndicator
Comment=Show cap key status on tray
Exec=gxcapindicator
Icon=keyboard-caps-enabled
Terminal=false
Type=Application
Categories=GTK;Utility;
X-AppStream-Ignore=true
